<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="contents">
            <h3>OOOPs! This page cannot be found ;) click <a href="/blogs">here</a> to return to the homepage</h3>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>