@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body{
    max-width: 1200px;
    margin: 0 auto;
    color: rgb(34, 34, 34);
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}
h1{
    font-size: 1.5em;
}
nav h1{
    font-size: 3em;
    display: inline;
    color: rgb(34, 34, 34);
}
.site-title{
    display: inline;
    margin-bottom: 20px;
} 
nav{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1px;
    height: 110px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
ul{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
a{
    text-decoration: none;
    color: rgb(34, 34, 34);
}
li{
    list-style-type: none;
    margin-left: 10px;
}
li a{
    color: rgb(119, 119, 119);
}
li a:hover{
    color: crimson;
}
.contents{
    margin-top: 40px;
    margin-left: 20px;
}
footer{
    color: rgb(119, 119, 119);
    position: relative;
    margin: 100px auto 20px;
    text-align: center;
}
form{
    text-align: center;
    width: 400px;
    margin: 40px auto;
}
label, input, textarea{
    display: block;
    width: 100%;
    text-align: left;
}
input, textarea{
    padding: 8px;
    margin-top: 5px;
}
label{
    margin-top: 18px;
}
textarea{
    height: 120px;
}
button{
    cursor: pointer;
    background: crimson;
    margin: auto;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: none;
    font-size: 1em;
    border-radius: 5px;
}
.blog-preview{
    max-width: 800px;
    border-bottom: 1px solid #fafafa;
    padding: 10px 30px;
}
.blog-preview:hover{
box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview p{
    font-size: 0.8rem;
    color: rgb(119, 119, 119);
}
.blog-preview h3{
    font-size: 1rem;
    color: rgb(100, 96, 96);
    font-weight: 300;
    padding-left: 15px;
}
.blog-preview > div{
    padding-left: 10px;
    border-left: 5px solid crimson;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
strong{
    color: black;
}
article{
    margin: 30px;
    color: rgb(100, 96, 96);
    position: relative;
}
img{
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px;
    border-radius: 50%;
}
img:hover{
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}